<div class="sidebar">
  <div class="container sidebar-sticky sidebar-sticky-top">
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>
      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>
    
  </div>

  <div class="container sidebar-sticky sidebar-sticky-bottom">
    <nav class="sidebar-nav">


      <a class="sidebar-nav-item" target="_blank" href="https://github.com/unixslayer">github</a>
      <a class="sidebar-nav-item" target="_blank" href="https://hub.docker.com/u/unixslayer">docker</a>
      <a class="sidebar-nav-item" target="_blank" href="https://twitter.com/kicek_">twitter</a>
      <a class="sidebar-nav-item" target="_blank" href="https://keybase.io/unixslayer">keybase</a>

      <span class="copy">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</span>
    </nav>
  </div>
</div>
